:root {
/* add color scheme through variables */
}

.header {
    padding: 20px;
    background-color: rgb(133, 133, 133);
    color: rgb(156, 98, 31);  
}

.header h1 {
    display: inline-block;
    font-size: 50px;
    text-decoration: underline dotted;
    text-decoration-color: whitesmoke;
}

.header h1 .portfolio {
    color:rgb(199, 199, 199);
    font-size: 38px;
}

.header nav {
    display: flex;
    padding: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    color: white;
}

.header nav ul li {
    display: inline-flex;
    list-style-type: none;
}

.body {
    background-color: rgb(197, 183, 157);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-me {
    background-color: rgba(28, 88, 60, 0.473);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.about-me p {
    font-size: 20px;
}

.projects {
    background-color: rgba(28, 88, 60, 0.473);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.projects ul {
    list-style-type: none;
}

.footer {
    background-color: rgb(133, 133, 133);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.footer nav ul li {
    list-style-type: none;
}

/* unvisited link */
a:link {
    color: rgb(190, 116, 32)   
  }
  
  /* visited link */
  a:visited {
    color: rgb(156, 98, 31)   
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(48, 75, 30);
  }
  
  /* selected link */
  a:active {
    color: rgb(238, 206, 164);
  }