:root {
/* add color scheme through variables */
}

body {
    
}

.header {
    display: flex;
    padding: 20px;
    background-color: rgb(70, 70, 70);
    color: rgb(78, 183, 190)   
}

.top-nav {
    display:flex;
    justify-content: right;
    float:right;
}
